<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is the home page.....</title>
    <style>
        img,
        div {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        marquee {
            width: 100%;
            height: 50px;
            position: relative;
            color: rgb(230, 226, 226);
            z-index: 999;
            background-color: #edf0f3;
        }

        marquee a {
            color: #e21b89;
        }
    </style>
</head>
<marquee onmouseover="stop()" onmouseout="start()">
    {%for news in news_data %}
    <a href="/newsdetails/{{news.id}}"> {{news.title}} </a> &nbsp;
    {%endfor%}
</marquee>

<body style="background-color: rgb(191, 241, 241);">
    <h1 style="background-color: rgb(94, 16, 219);">Home page welcome you..</h1>
    <img src="static/images/venkiSample.jpg" alt="Italian Trulli">
    <div>
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">register</a></li>
    </div>

    <!-- {% for num in numbers %}
    <div style="background-color: rgb(168, 222, 243);">{{num}}</div>
    {%endfor%} -->

    <!-- <div>{{student_details.0}}</div>
    <div>{{student_details.1}}</div> -->

    <div class="col-12">
        <form method="get">
            <input type="text" name="servicename" value="" />
            <input type="submit" value="serach" />
        </form>

    </div>

    {% for n in service_data %}
    <div>
        <div> Service_icon == {{n.service_icon}}</div>
        <div> Service_title =={{n.service_title}} </div>
        <div> Service_descriptions == {{n.service_description}}</div>
    </div><br><br>
    {% empty %}
    No Data found..
    {%endfor%}
</body>

</html>